@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 600px;
    border-collapse: collapse;
    border:1px solid black;
}
thead{
    background-color: gray;
    color: white;
}
td, th{
    border: 1px solid black;
    padding:10px;
}
.resultado{
    background-color:gray ;
    color: white;
}